@mixin custom-checkbox {
  .custom__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom__checkbox + .custom__label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  .custom__checkbox + .custom__label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $color-default-white;
    border-radius: 2px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .custom__checkbox:checked + .custom__label::before {
    border-color: $color-default-white;
    // background-color: #0b76ef;
    background-image: url("../img/svg/form__vector.svg");
  }

  .custom__checkbox:not(:disabled):not(:checked)+.custom__label:hover::before {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255, 0.8)
  }

  .custom__checkbox:not(:disabled):active+.custom__label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }

  // Стили для чекбока находящегося в фокусе при cheked
  .custom__checkbox:focus+.custom__label::before {
    // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-color: $color-default-white;
  }

  // Стили для чекбокса находящегося в фокусе но не при cheked
  .custom__checkbox:focus:not(:checked)+.custom__label::before {
    border-color: $color-default-white;
    box-shadow: 0 0 0 0.2rem $color-default-dark-blue;
    opacity: 0.6;
  }

  // Состояние disabled
  .custom__checkbox:disabled+.custom__label::before {
    background-color: #300303;
  }
}
