.base {
  display: block;
  margin: 0 auto;
  padding: 185px 0 185px 20%;
  background-color: $color-default-dark-blue;
  background-image: url("../img/bg/base-bg.png");
  background-image: -webkit-image-set(
    url("../img/bg/base-bg@2x.webp") 2x,
    url("../img/bg/base-bg.webp") 1x,
    url("../img/bg/base-bg@2x.png") 2x
    url("../img/bg/base-bg.png") 1x);
  background-image: image-set(
    url("../img/bg/base-bg@2x.webp") type("image/webp") 2x,
    url("../img/bg/base-bg.webp") type("image/webp") 1x,
    url("../img/bg/base-bg@2x.png") 2x,
    url("../img/bg/base-bg.png") 1x);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: $color-default-gray;

  @include vp-769 {
    padding: 50px 85px;
    font-size: 22px;
    line-height: 155%;
  }

  @include vp-319 {
    padding: 80px 25px 190px ;
    background-position: 25% 0;
  }
}

.base__text-320 {
  display: none;

  @include vp-319 {
    display: inline;
  }
}

.base__text-770 {
  display: inline;
  padding: 0 15px;

  @include vp-319 {
    display: none;
  }
}

.base__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @include vp-769 {
    font-size: 64px;
    line-height: 75px;
  }

  @include vp-319 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
  }
}

.base__description {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;

  @include vp-319 {
    font-size: 14px;
    line-height: 155%;
    margin: 0;
  }
}

.base__button {
  @include btn {
    padding: 17px 10px;
    color: $color-default-gray;
    background-color: $color-sky-blue;
    font-size: 18px;
    line-height: 21px;
    border: none;
  }

  margin-top: 40px;

  &:hover {
    color: $color-sky-blue;
    background-color: $color-default-white;
    transition: $trans-default;
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }

  @include vp-319 {
    padding: 11px 32px;
    margin-top: 50px;
    font-size: 14px;
    line-height: 16px;
  }
}
