.footer {
  margin: 0;
  padding: 50px;
  background-color: $color-default-dark-blue;
  font-family: $ff-placeholder-pt-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: $color-transparent;
  display: flex;
  justify-content: center;

  @include vp-1919 {
    padding: 50px 45px 65px 50px;
    flex-wrap: wrap;
  }

  @include vp-769 {
    padding: 0;
    flex-direction: column;
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;

  @include vp-769 {
    gap: 15px;
  }
}

.footer__item {
  width: 45%;

  @include vp-1919 {
    width: 50%;
  }

  @include vp-769 {
    width: 100%;
    padding: 0 20px;
  }
}

.footer__item:first-child {
  @include vp-769 {
    padding-top: 20px;
  }
}

.footer__item:last-child {
  @include vp-769 {
    margin-bottom: 20px;
  }
}

.footer__item a {
  color: $color-transparent;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__container {
  width: 40%;
  margin-left: 50px;

  @include vp-1919 {
    margin: 0;
    width: 50%;
  }

  @include vp-769 {
    width: 100%;
  }
}

.footer__address {
  width: 25%;

  @include vp-1919 {
    width: 50%;
  }

  @include vp-769 {
    width: 100%;
  }
}

.footer__button {
  display: none;

  @include vp-769 {
    display: block;
  }
}

.footer__logo {
  display: flex;
  width: 220px;
}

.footer__svg {
  fill: $color-sky-blue;
  order: -1;
  margin-right: 15px;
}

.footer__title {
  margin: 0;
  padding: 0;
  margin-top: 6px;
  position: relative;
  font-family: $ff-placeholder;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: $color-default-gray;
}

.footer__title::after {
  display: block;
  width: 100%;
  content: 'умные технологии';
  font-weight: 500;
  font-size: 12px;
  color: $color-transparent;
  line-height: 14px;
}

.footer__subtitle {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-style: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  font-family: $ff-placeholder;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;

  @include vp-769 {
    border-top: 1px solid $color-default-white;
    border-bottom: 1px solid $color-default-white;
    margin-top: 0;
  }
}

.footer__description {
  margin: 0;
  font-style: normal;

  @include vp-769 {
    padding: 0 20px;
    padding-top: 20px;
  }
}

.footer__link:not(:last-child) {
  margin-bottom: 10px;
}

.footer__link {
  font-family: $ff-placeholder-pt-mono;
  font-style: normal;
  color: $color-transparent;
  width: 100%;
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @include vp-769 {
    padding: 0 20px;
  }
}

.footer__box {
  @include vp-1919 {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin-bottom: 35px;
  }

  @include vp-769 {
    margin: 0;
    padding: 35px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

// accordion

@include vp-769 {
  .footer__container {
    position: relative;
  }

  .footer__container .footer__subtitle {
    position: relative;
    padding: 20px;
    background-color: $color-default-dark-blue;
    color: $color-default-white;
    cursor: pointer;
    margin: 0;
  }

  .footer__container .footer__subtitle::after {
    content: " ";
    width: 15px;
    height: 15px;
    background-image: url("../img/svg/plusik.svg");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: $color-default-white;
    font-size: 25px;
  }

  .footer__container.active .footer__subtitle::after {
    content: ' ';
    width: 15px;
    height: 1px;
    border: 1px solid $color-default-white
  }

  .footer__container .footer__list {
    position: relative;
    background-color: $color-default-dark-blue;
    overflow: hidden;
    max-height: 0;
    transition: $trans-default;
  }

  .footer__address {
    margin-bottom: 35px;
  }
}
