.form {
  position: relative;
  background: linear-gradient(140deg, #1B669F 32.27%, #00B3FF 32.27%);
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  justify-content: center;
  padding: 170px 0;

  @include vp-769 {
    background: $color-sky-blue;
    padding: 50px 25px;
  }
}

.form__title {
  margin: 0;
  padding: 0;
  margin-left: 140px;
  text-align: center;
  color: $color-default-white;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  @include vp-319 {
    font-size: 30px;
    line-height: 140.62%;
  }
}

.form__description {
  margin-right: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  text-align: center;

  @include vp-319 {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-size: 14px;
    line-height: 134.4%;
  }
}

.form__input {
  padding: 15px;
  border: none;
  font-family: $ff-placeholder-pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  color: $color-default-white;
}

.form__input-phone {
  width: 100%;
}

.form__input:hover,
.form__input:active,
.form__input:focus {
  outline: 1px solid $color-default-white;
}

.form__input::-webkit-input-placeholder {
  color: $color-default-white;
}

.form__img {
  position: absolute;
  top: 300px;
  left: 50px;

  @media (max-width: 1284px) {
    display: none;
  }
}

.form__button {
  @include btn;
  display: block;
  border: none;
  padding: 15px 65px;

  &:hover {
    opacity: 1;
    transition: $trans-default;
    background-color: $color-default-white;
    color: $color-default-dark-blue;
  }

  @include vp-319 {
    width: 100%;
  }
}

.form__label {
  font-family: $ff-placeholder-pt-mono;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;

  @include vp-319 {
    width: 100%;
  }
}

.form {
  @include custom-checkbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form__container {
  margin-left: 200px;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  @include vp-769 {
    margin: 0;
  }

  @include vp-319 {
    margin: 0;
    gap: 0;
    display: inline-flex;
  }
}

.form__title,
.form__description {
  width: 100%;

  @include vp-769 {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    text-align: start;
  }
}

.form__label-phone {
  width: 44%;

  @include vp-319 {
    width: 100%;
    margin-bottom: 20px;
  }
}

.form__textarea {
  width: 100%;
}

.form__label {
  width: 50%;
  order: 2;

  @include vp-319 {
    margin-top: 25px;
  }
}
