.form {
  @include custom-checkbox;
  background: linear-gradient(140deg, #1B669F 32.27%, #00B3FF 32.27%);
  background-repeat: no-repeat;
  background-size: auto;
  padding: 0 40px;
  padding-left: 650px;
  padding-top: 171px;
  padding-bottom: 250px;

  @include vp-1919 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    background: $color-sky-blue;
    padding: 50px 50px 125px 50px;
  }

  @include vp-769 {
    padding: 50px 25px 90px 25px;
  }
}

.form__wrapper {
  margin: 0 auto;
  max-width: 600px;
  position: relative;
}

.form__title {
  margin: 0;
  padding: 0;
  color: $color-default-white;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  @include vp-1919 {
    width: 100%;
  }

  @include vp-769 {
    margin: 0;
    font-size: 30px;
    line-height: 140.62%;
  }
}

.form__description {
  margin: 0;
  padding: 0;
  margin-right: 140px;
  margin-bottom: 15px;
  font-family: $ff-placeholder-pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  @include vp-1919 {
    width: 100%;
  }

  @include vp-769 {
    margin: 0;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 134.4%;
  }
}

.form__input {
  padding: 15px;
  border: none;
  font-family: $ff-placeholder-pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  color: $color-default-white;
  width: 275px;

  @include vp-1919 {
    width: 47%;
  }

  @include vp-769 {
    width: 100%;
  }
}

.form__input-phone {
  @include vp-1919 {
    width: 47%;
  }
}

.form__input:hover,
.form__input:active,
.form__input:focus {
  outline: 1px solid $color-default-white;
}

.form__input::-webkit-input-placeholder {
  color: $color-default-white;
}

.form__img {
  position: absolute;
  top: 70px;
  left: -650px;

  @include vp-1919 {
    display: none
  }
}

.form__button {
  @include btn;
  display: block;
  border: none;
  padding: 15px 60px;

  @include vp-1919 {
    padding: 15px 65px;
    width: 40%;
  }

  &:hover {
    opacity: 1;
    transition: $trans-default;
    background-color: $color-default-white;
    color: $color-default-dark-blue;
  }

  @include vp-769 {
    width: 100%;
    margin-top: 10px;
  }
}

.form__label {
  font-family: $ff-placeholder-pt-mono;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;

  @include vp-769 {
    width: 100%;
    margin-top: 25px;
  }
}

.form__container {
  margin: 0;
  width: 585px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  @include vp-1919 {
    width: auto;
  }

  @include vp-769 {
    gap: 20px;
    display: inline-flex;
  }
}

.form__label-phone {
  @include vp-769 {
    width: 100%;
  }
}

.form__textarea {
  width: 580px;
  max-height: 155px;
  padding-top: 32px;

  @include vp-1919 {
    width: 100%;
  }

  @include vp-769 {
    max-height: 180px;
  }
}

.form__label {
  width: 50%;
  order: 2;

  @include vp-769 {
    margin-top: 25px;
  }
}
