.navigation {
  padding: 30px 40px;
  display: flex;
  justify-content: center;

  @include vp-1919 {
    padding: 20px 50px;
    justify-content: start;
  }

  @include vp-769 {
    padding: 15px 25px;
  }
}

.navigation__list {
  display: flex;
  align-items: center;
  max-width: $vp-1920 - 80px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-1919 {
    justify-content: space-between;
    width: 100%;
  }
}

.navigation__email {
  margin-left: 160px;
  @include vp-1919 {
    margin-left: auto;
  }
}

.navigation__phone {
  width: 20px;
  height: 20px;

  @include vp-1919 {
    margin-left: 35px;
  }
}

.navigation__email-description,
.navigation__phone-description {
  margin-left: 15px;
  display: block;
  width: 200px;
  @include vp-1919 {
    display: none;
  }
}

.navigation__link {
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active,
  &:focus {
    opacity: 0.6;
  }
}

.navigation__item {
  position: relative;
  display: flex;
  gap: 15px
}

.navigation__item:first-child {
  align-items: center;

  &:hover {
    opacity: 1;
    color: $color-transparent;

    svg {
      fill: $color-default-white;
    }

    ::after {
      color: $color-transparent;
    }
  }
}

.navigation__link {
  font-family: $ff-placeholder-pt-mono;
  font-size: 16px;
  line-height: 18px;
  color: $color-default-gray;
}

.navigation__title {
  margin: 0;
  margin-left: 15px;
  padding: 0;
  font-family: $ff-placeholder;
  position: relative;
  font-size: 25px;
  font-weight: 700;
  color: $color-default-gray;

  @include vp-769 {
    display: none;
  }
}

.navigation__title::after {
  display: block;
  width: 100%;
  top: 20px;
  left: 0;
  content: 'умные технологии';
  font-weight: 500;
  font-size: 12px;
  color: $color-transparent;
  line-height: 14px;

  @include vp-769 {
    display: none;
  }
}

.navigation__svg {
  fill: $color-sky-blue;

  @include vp-769 {
    width: 35px;
    height: 35px;
  }
}

.navigation__item:last-child {
  margin-left: 145px;

  @include vp-1919 {
    margin: 0;
  }
}

.navigation__button {
  margin-left: 150px;
  @include btn {
    color: $color-default-gray;
    background-color: $color-default-dark-blue;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 15px 12px 15px;
  }

  &:hover {
    background: $color-sky-blue;
    color: $color-default-white;
    transition: $trans-default;
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }

  @include vp-1919 {
    display: none;
  }
}

.navigation__logo {
  fill: $color-sky-blue;
}
