.service {
  background-color: $color-default-dark-blue;
  padding: 70px 25px;

  @include vp-769 {
    padding: 60px 50px;
  }

  @include vp-319 {
    padding: 50px 25px;
  }
}

.service__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(auto,350px) minmax(auto,350px) minmax(auto,350px);
  justify-content: center;
  list-style: none;
  gap: 85px;

  @include vp-769 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  @include vp-319 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.service__item {
  width: 100%;
  position: relative;
  background-image: url("../img/service/element-bg-1.png");
  background-image: -webkit-image-set(
    url("../img/service/element-bg-1@2x.webp") 2x,
    url("../img/service/element-bg-1.webp") 1x,
    url("../img/service/element-bg-1@2x.png") 2x
    url("../img/service/element-bg-1.png") 1x);
  background-image: image-set(
    url("../img/service/element-bg-1@2x.webp") type("image/webp") 2x,
    url("../img/service/element-bg-1.webp") type("image/webp") 1x,
    url("../img/service/element-bg-1@2x.png") 2x,
    url("../img/service/element-bg-1.png") 1x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include hover {
    .service__link {
      transition: $trans-600;
      outline: 1px solid $color-sky-blue;
    }

    .service__button {
      transition: $trans-600;
      background-color: $color-default-white;
      opacity: 1;

      svg {
        fill: $color-sky-blue;
      }
    }
  }

  @include vp-769 {
    min-height: 250px;
  }
}

.service__item:nth-child(2) {
  background-image: url("../img/service/element-bg-2.png");
  background-image: -webkit-image-set(
    url("../img/service/element-bg-2@2x.webp") 2x,
    url("../img/service/element-bg-2.webp") 1x,
    url("../img/service/element-bg-2@2x.png") 2x
    url("../img/service/element-bg-2.png") 1x);
  background-image: image-set(
    url("../img/service/element-bg-2@2x.webp") type("image/webp") 2x,
    url("../img/service/element-bg-2.webp") type("image/webp") 1x,
    url("../img/service/element-bg-2@2x.png") 2x,
    url("../img/service/element-bg-2.png") 1x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.service__item:nth-child(3) {
  background-image: url("../img/service/element-bg-3.png");
  background-image: -webkit-image-set(
    url("../img/service/element-bg-3@2x.webp") 2x,
    url("../img/service/element-bg-3.webp") 1x,
    url("../img/service/element-bg-3@2x.png") 2x
    url("../img/service/element-bg-3.png") 1x);
  background-image: image-set(
    url("../img/service/element-bg-3@2x.webp") type("image/webp") 2x,
    url("../img/service/element-bg-3.webp") type("image/webp") 1x,
    url("../img/service/element-bg-3@2x.png") 2x,
    url("../img/service/element-bg-3.png") 1x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.service__link {
  display: block;
  min-height: 650px;

  @include vp-769 {
    min-height: 250px;
  }
}

.service__title {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-right: 400px;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color: $color-default-white;

  @include vp-769 {
    text-align: start;
    margin: 0;
    margin-bottom: 50px;
  }

  @include vp-319 {
    margin: 0;
    text-align: start;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    font-size: 28px;
    line-height: 140.62%;
  }
}

.service__title::before {
  @include vp-319 {
    font-size: 28px;
    line-height: 140.62%;
    font-weight: 400;
    color: $color-default-white;
    content: "Товары и услуги";
  }
}

.service__title::after {
  @media(min-width: ($vp-320 - 1px)) {
    font-size: 36px;
    line-height: 51px;
    font-weight: 400;
    color: $color-default-white;
    content: " предлагает следующие товары и услуги";
  }
}

.service__subtitle {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: $color-default-white;
  padding: 50px 40px;

  @include vp-319 {
    font-size: 18px;
    line-height: 30px;
    padding: 30px;
  }
}

.service__button {
  position: absolute;
  @include btn-abstract;
  top: 590px;
  right: 0;
  padding: 26px 26px 26px 30px;
  background-color: $color-sky-blue;
  border-radius: 3px 0px 0px 0px;
  border: none;

  @include vp-769 {
    top: 205px;
  }

  @include vp-319 {
    padding: 17px 20px;
  }


}

.service__button svg {
  fill: #FFFFFF;
}
